<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            <div class="control">
                {{ form.task.label(class_="label") }}
                {{ form.task(class="input", placeholder="Your Task") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.project.label(class_="label") }}
                {{ form.project(class="input", placeholder="Project Associated with Task") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.tags.label(class_="label") }}
                {{ form.tags(class="input", placeholder="Tags Associated with Task") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.due_date.label(class_="label") }}
                {{ form.due_date(class="input", placeholder="Due Date for Task") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
               {{ form.submit(class_="button is-link") }}
            </div>
        </div>
    </form>
</div>