<div class="table-container">
    <table class="table is-striped sortable" id="task_table">
        <thead>
        <th> Task</th>
        <th> Project</th>
        <th> Tags</th>
        <th> Due Date</th>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.description }}</td>
                <td>{{ task.project }}</td>
                <td>{% if task.tags %}
                    {% for tag in task.tags %}
                        {{ tag }},
                    {% endfor %}
                {% endif %}
                </td>
                <td>{{ task.due }}</td>
                <td>
                    <button class="button is-green">Modify</button>
                </td>
                <td>
                    {% if tab == "completed" %}
                    <button class="button is-blue" hx-trigger="click" hx-target="#task_table"
                            hx-post="/{{ tab }}?task_id={{ task.uuid }}"> Change Status to Incomplete
                    </button>
                    {% else %}
                    <button class="button is-blue" hx-trigger="click" hx-target="#task_table"
                            hx-post="/{{ tab }}?task_id={{ task.uuid }}"> Mark Completed
                    </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>