{% extends "layout.html" %}

{% block content %}
    <section class="section" id="add_task">
        will re-add form here
    </section>
    <section class="section">
        <div class="container" >
            <div class="tabs is-toggle is-toggle-rounded" id="due_dates">

            </div>

            <div class="table-container">
    <table class="table is-striped sortable" id="task_table">
        <thead>
        <th> Task</th>
        <th> Project</th>
        <th> Tags</th>
        <th> Due Date</th>
        </thead>
        <tbody id="task_table_body">

        </tbody>
    </table>
</div>
        </div>
    </section>
    <script type="py" config="{{ url_for('static', filename='./conf.json')}}" src="{{ url_for('static', filename='./main.py')}}"></script>
{% endblock %}