{% extends "layout.html" %}

{% block content %}
    <section class="section">
        {{ render_partial('partials/add_task.html') }}
    </section>
    <section class="section">
        <div class="container">
            <div class="tabs is-toggle is-toggle-rounded">
                <ul>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/overdue">Overdue</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/due-today">Due Today</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/due-this-month">Due This Month</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/all-incomplete">All Incomplete Tasks</a>
                    </li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/completed">Completed Tasks</a></li>
                </ul>
            </div>
            {{ render_partial('partials/task_table.html', tasks=tasks) }}
        </div>
    </section>
{% endblock %}