{% extends "layout.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="field">
                <label class="label">Task</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Your Task">
                </div>
            </div>
            <div class="field">
                <label class="label">Project</label>

                <div class="control">
                    <input class="input" type="text" placeholder="Project Associated with Task">
                </div>
            </div>
            <div class="field">
                <label class="label">Tags</label>

                <div class="control">
                    <input class="input" type="text" placeholder="Tags Associated with Task">
                </div>
            </div>
            <div class="field">
                <label class="label">Due Date</label>

                <div class="control">
                    <input class="input" type="text" placeholder="Due Date for Task as YYYY-MM-DD">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link">Add Task</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="tabs is-toggle is-toggle-rounded">
                <ul>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/overdue">Overdue</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/due-today">Due Today</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/due-this-month">Due This Month</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/all-incomplete">All Incomplete Tasks</a></li>
                    <li><a hx-trigger="click" hx-target="#task_table" hx-get="/completed">Completed Tasks</a></li>
                </ul>
            </div>
            {{ render_partial('partials/task_table.html', tasks=tasks) }}
        </div>
    </section>
{% endblock %}